<div>
    <h2 data-translate="jhipsterApp.grantCash.home.title">Grant Cashes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="grant-cash.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jhipsterApp.grantCash.home.createLabel">
                        Create new Grant Cash
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packId"><span data-translate="jhipsterApp.grantCash.packId">Pack Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="jhipsterApp.grantCash.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="useTime"><span data-translate="jhipsterApp.grantCash.useTime">Use Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="getTime"><span data-translate="jhipsterApp.grantCash.getTime">Get Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="jhipsterApp.grantCash.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packName"><span data-translate="jhipsterApp.grantCash.packName">Pack Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packPrice"><span data-translate="jhipsterApp.grantCash.packPrice">Pack Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderId"><span data-translate="jhipsterApp.grantCash.orderId">Order Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expiry"><span data-translate="jhipsterApp.grantCash.expiry">Expiry</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grantCash in vm.grantCashes track by grantCash.id">
                    <td><a ui-sref="grant-cash-detail({id:grantCash.id})">{{grantCash.id}}</a></td>
                    <td>{{grantCash.packId}}</td>
                    <td>{{grantCash.userId}}</td>
                    <td>{{grantCash.useTime}}</td>
                    <td>{{grantCash.getTime}}</td>
                    <td>{{grantCash.status}}</td>
                    <td>{{grantCash.packName}}</td>
                    <td>{{grantCash.packPrice}}</td>
                    <td>{{grantCash.orderId}}</td>
                    <td>{{grantCash.expiry}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="grant-cash-detail({id:grantCash.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grant-cash.edit({id:grantCash.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grant-cash.delete({id:grantCash.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
